***DAA-2***

In [ ]:
import numpy as np

def add(a,b):
  result = a+b
  x = 0
  for i in result:
    x += i
  return x
a = [1, 2, 3]
b = [4, 5, 6]
print(add(a,b));

21

NEXT

In [ ]:
import numpy as np
nilai_siswa = np.array([85, 55, 40, 90])
x = 0
for i in nilai_siswa:
  x+=i
  print(x)

85
140
180
270

Python Ver

In [ ]:
import numpy as np
print(np.__version__)

2.0.2

Print

In [ ]:
name = input("Nama anda")
NIM = input("Nim anda")

print("Nama anda", name, "dan NIM anda", NIM)

Nama andaRafael
Nim anda2024071003
Nama anda Rafael dan NIM anda 2024071003

In [ ]:
import numpy as np
def add(a,b):
  result = np.array([a+b])
  x = np.sum(result)
  return x

a = [1, 2, 3]
b = [4, 5, 6]
print(add(a,b));

21

In [ ]:
if 5 > 2:
  print("5 is Greater than 2")

5 is Greater than 2

JOHN

In [ ]:
x = 5
y = 'john'
print(x)
print(y)

5
john

sally

In [ ]:
x = 4
x = "sally"
print(x)

sally

get first

In [ ]:
def getFirst(mylist):
    return mylist[0]
getFirst([1,2,3])

1

Get Last

In [ ]:
def getLast(a):
    return a[len(a)-1]
list=[2,6,7,4,3,21,23,10]
getLast(list)

10

In [ ]:
#Posisi Kedua
def getSecond(mylist):
    return mylist[1]
getSecond([1,2,3])

2

In [ ]:
def getSum(a):
   Sum = 0
   for i in a:
    Sum+=i
   return Sum
X = [1,2,3,4,5,6]

print(getSum(X))

21

In [ ]:
def getKali(a):
   Sum = 1
   for i in a:
    Sum *= i
   return Sum
X = [1,2,3,4,5,6]

print(getKali(X))

720

In [ ]:
def getBagi(a):
   Sum = 1
   for i in a:
    Sum /= i
   return Sum
X = [0.5,0.5,4]

print(getBagi(X))

1.0

In [ ]:
def getBagi2(a):
   Sum = 1
   for i in a:
    for x in i:
     Sum /= x
   return Sum
#X = [1,2,3,4,5,6]

print(getBagi2([[8,2,2],[24,6,2]]))

0.00010850694444444444

In [ ]:
def getKurang(a):
   Sum = 1
   for i in a:
    for x in i:
     Sum -= x
   return Sum
#X = [1,2,3,4,5,6]

print(getKurang([[8,2,2],[24,6,2]]))

-43